<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>
<body>
    <header>
  <nav>
<ul>
  {% assign cats = "royaumes,villes,regions,fleuves,lieux,factions" | split: "," %}
  {% for cat in cats %}
    <li>
      {{ cat | capitalize }}
      <ul>
        {% assign pages_in_cat = site.pages | where: "category", cat | sort: "title" %}
        {% for p in pages_in_cat %}
          <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

  </nav>
</header>

    <main>
        {{ content }}
    </main>
  

  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script>
    const lightbox = GLightbox({
      selector: '.glightbox',
      zoomable: true,
      touchNavigation: true
    });
  </script>
</body>
</html>
