<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>
<body>
<header class="site-header">
  <nav aria-label="Navigation principale">
    <ul class="menu">
      <li><a href="{{ '/' | relative_url }}">Accueil</a></li>

      <li class="has-sub">
        <a href="{{ '/docs/royaumes/' | relative_url }}" aria-haspopup="true" aria-expanded="false">Royaumes</a>
        <ul class="submenu">
          {% assign pages = site.pages | where: "category", "royaumes" | sort: "title" %}
          {% for p in pages %}
            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </li>

      <li class="has-sub">
        <a href="{{ '/docs/regions/' | relative_url }}" aria-haspopup="true" aria-expanded="false">Régions</a>
        <ul class="submenu">
          {% assign pages = site.pages | where: "category", "regions" | sort: "title" %}
          {% for p in pages %}
            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </li>

      <li class="has-sub">
        <a href="{{ '/docs/villes/' | relative_url }}" aria-haspopup="true" aria-expanded="false">Villes</a>
        <ul class="submenu">
          {% assign pages = site.pages | where: "category", "villes" | sort: "title" %}
          {% for p in pages %}
            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </li>

      <li class="has-sub">
        <a href="{{ '/docs/fleuves/' | relative_url }}" aria-haspopup="true" aria-expanded="false">Fleuves</a>
        <ul class="submenu">
          {% assign pages = site.pages | where: "category", "fleuves" | sort: "title" %}
          {% for p in pages %}
            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>

    <main>
        {{ content }}
    </main>
  

  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script>
    const lightbox = GLightbox({
      selector: '.glightbox',
      zoomable: true,
      touchNavigation: true
    });
  </script>
</body>
</html>
